*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.first-section{
  margin-right: 200px;
  margin-left: 200px;
}

.header{
  display: flex;
  justify-content: space-between;
}

